[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"

[dev-packages]
nose = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
sphinx = "*"
"m2r" = "*"

[requires]
python_version = "3.7"
